files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyDCCArACCQD0UZ39rbhGejANBgkqhkiG9w0BAQsFADCBpTELMAkGA1UEBhMC
      QU0xEDAOBgNVBAgMB1llcmV2YW4xEDAOBgNVBAcMB1llcmV2YW4xEDAOBgNVBAoM
      B0VudG91cnMxDDAKBgNVBAsMA0RldjEvMC0GA1UEAwwmZW50b3Vycy51cy1lYXN0
      LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xITAfBgkqhkiG9w0BCQEWEmplZGF2YXJk
      QGdtYWlsLmNvbTAeFw0yMDA3MjQxMzI1MjhaFw0yMTA3MjQxMzI1MjhaMIGlMQsw
      CQYDVQQGEwJBTTEQMA4GA1UECAwHWWVyZXZhbjEQMA4GA1UEBwwHWWVyZXZhbjEQ
      MA4GA1UECgwHRW50b3VyczEMMAoGA1UECwwDRGV2MS8wLQYDVQQDDCZlbnRvdXJz
      LnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEhMB8GCSqGSIb3DQEJARYS
      amVkYXZhcmRAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEArUIZ149VuPRNTukU+vpQz0hNK/R7NZ8vYebl5a9apRdYRppzsBYN+wZ5dqgr
      l3RMY51rfTRA824n3PtvyO/dbOPVHgtOrpk2sE2IZB9kzriKp5bbDXz2YxK5rA6y
      roTp0mgfZGO0Z0tjtXrZcas7bZgMW4hrzD5SoMZYDD8e2RL052Fe2IGS9jIogIp5
      q4lGJI0rvir54tYe3wPCdFqAWMBKPbjOZo9ES71Au4zeng/1OU7CwEi5PypOqXPD
      no7HJPwgq846lq5j72My200M6kR0+Juy/Nl08UtLljj/XZw95PJYBJ5fD404TBnT
      hWKdycZfIs1l4Bnp9B9wa8N/QQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQA9YZ1c
      HfQtMYjHniK7eIKrDNwHPltDXTs9WxTsRzi0VQLN9IPu7cCbviUDHwEqPNn6OYhy
      A0cz89UnV5g3KclJHzSNVYtXb4t7pVg81sxqCZinQoaYX8V04DDs7PWCQ7KjRNiN
      zCvkihNgb40RjPGeHidyK6lKuyNPZV9Ww80rLaIHQakD3a7VWVydiYkzJiP+GYsN
      e9SS7hQWgK38QgL4zPQKjLtm2duUHYs71j1mfkJL7EdNZanDC0FsQ7nZ7WELCfrJ
      UAK4hvBzLYJL2u8Ci7Bp32q29Ghhx7NEwNgpl4wfFJYrP95071uXgOxw2eboX+3T
      +IEWZKKcVU0bGLiq
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEArUIZ149VuPRNTukU+vpQz0hNK/R7NZ8vYebl5a9apRdYRppz
      sBYN+wZ5dqgrl3RMY51rfTRA824n3PtvyO/dbOPVHgtOrpk2sE2IZB9kzriKp5bb
      DXz2YxK5rA6yroTp0mgfZGO0Z0tjtXrZcas7bZgMW4hrzD5SoMZYDD8e2RL052Fe
      2IGS9jIogIp5q4lGJI0rvir54tYe3wPCdFqAWMBKPbjOZo9ES71Au4zeng/1OU7C
      wEi5PypOqXPDno7HJPwgq846lq5j72My200M6kR0+Juy/Nl08UtLljj/XZw95PJY
      BJ5fD404TBnThWKdycZfIs1l4Bnp9B9wa8N/QQIDAQABAoIBAQCrjDl+H+Pmv64U
      JeCqKFL/Cj2u+eFM1JLbwv16kEeWEylKrv9BKHUrSdvWSujuiy5fq6yUSbrNzRIX
      UbX7JNT/Tg7kMpnzcqydoAcd65+qtzpCebHnBwYGTrIc1GjDN8M0m/gJNFeZtyHA
      vSSz0bGD7/q8XrUtg7/YhMsFRTJMB0HHRhuuoBwYDLihKhXVB3H4ZNYA28UR1oOn
      FVWb6lOkWTypYrBv4xVcmS33R363DWqYA/VfwrHS+XQaqzpBrVxWDE5JR5pzCVVC
      7J7b6KR4rJt82te4UgKZQowfx2XNLAkJnWnzzyyG2xiHYV60g4lDrYCvJX8b+teK
      Ir5/Y4GBAoGBANlO7NH8oPaHt1Jxpbl/Ym90Qyt17OY1i742r5yJ9CqoL6ndtBC9
      WdPd4Kuu/Mcb558OpHrcYrydcuQBzYRo1llo7lwegRTr2LXIRC7nWNRbB7I5apC2
      N64rCeTtpc6vYCZAQp0S0WXdkO2fP70Hq/cKRuucM7lXW5vd3x55mN3JAoGBAMwb
      VvEwUeeaAdwaQrhNLOT4fWOPEQYPUirS4oyQLLi/3Fhv3WCBj99iKoctGLpOa6Zh
      pnro7Jm8fbPwdKMY4AWh80FQi/Jo2WM1wAyHD/AfIMf675A8855hDN63NJZgSY9r
      SGyxHJvQUDMGsumMa4ViFvmGFjKBVah/a2wT+fG5AoGBAJBWVgJb9GYLWv6Nse/1
      5mH1LTBO0Z1O75TWKeqlzuIOeCoxsgp0WpfZBgPC5O8zX7NMPH/GpmZ1hfxgHivW
      npkgk0HomQBWbsi/TlqBG4VhOUltzZR1E6LBv36pQrp3zjtZ72T5PNCWTE8ouWNL
      FzOtRdH1HH38wkJTKoHJbnnRAoGBAMC1S3g7jAlksj7TGI2UaD/jkdfPO16CVq0S
      IU5fzam9lFh3fgfhLCrYL5kjbgZxhlg4OIwxoTph6jlbXXSkRtdqmhbf6tI8RovS
      MvphBx5K9ZN7DHcd5VJzBUi+p0sXrDxaKa5d5soCe8ZBm+jAaMAt5c0/2XNkA7Es
      ZQtNLR8ZAoGAWuh8U9zsEEiPGOl0MIMKjnImevkfcTDVgTFD7i7y0mtG0pszsV68
      8W0HiGzEN0g4ZNJUl1ViNLjCLrmeldX+YJtOcQjG7Ej2mm4EAuV4cossU/4pm0AG
      3uhe/KeVvJD6VqonkbYmOPPTuzfV3nXFqvZhAmu364nKVbAwd1hKpEc=
      -----END RSA PRIVATE KEY-----