files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  entours.app;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://entours.app;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDsjCCApoCCQDLY8awn7ZxtTANBgkqhkiG9w0BAQsFADCBmjELMAkGA1UEBhMC
      QU0xGDAWBgNVBAgMD0Rhdml0IFZhcmRhbnlhbjEQMA4GA1UEBwwHWWVyZXZhbjEQ
      MA4GA1UECgwHRW50b3VyczEUMBIGA1UECwwLRGV2ZWxvcG1lbnQxFDASBgNVBAMM
      C2VudG91cnMuYXBwMSEwHwYJKoZIhvcNAQkBFhJqZWRhdmFyZEBnbWFpbC5jb20w
      HhcNMjAwNzI0MDk0OTAxWhcNMjEwNzI0MDk0OTAxWjCBmjELMAkGA1UEBhMCQU0x
      GDAWBgNVBAgMD0Rhdml0IFZhcmRhbnlhbjEQMA4GA1UEBwwHWWVyZXZhbjEQMA4G
      A1UECgwHRW50b3VyczEUMBIGA1UECwwLRGV2ZWxvcG1lbnQxFDASBgNVBAMMC2Vu
      dG91cnMuYXBwMSEwHwYJKoZIhvcNAQkBFhJqZWRhdmFyZEBnbWFpbC5jb20wggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC/5ovJRP8Xdn5Sc/9WCPDU0SNJ
      HrpFn22/Z0283xzSsKke4lBYSYThZ1LjbZnXVTE0+Ypdcw/HTuhurhdMCKlYrDXk
      25j7vJIiLbfcwAe62rpSQksZ4CkNsnu5j1e4TjkIMposxOMbs553LK66OhUyftFm
      6NH3MEhJnPHYk2uzvyNj327sIjW1ugTN1yodmTi+GDatc3Tzn3lZmHPF6x7PInEn
      GESJa2Z2wbSw3Geg32+W26YkhjUOj6rL1Jhl1/enU1kuhBXxf/PExGrKMdWSSWuc
      orOVoITbxKa8AHvnlj33rUWrPywsD5Gg+zhodybFp0TzHjVTpV/gvtjMLdQ5AgMB
      AAEwDQYJKoZIhvcNAQELBQADggEBAL8G+2fgM84PGO/pObPdcF9CWzEPHibudYjq
      ravM5g8KaHTjgmH6qhxNSBZoMYw00CzzYLzKNv0Do6iMa77QQwqgl/kpwY81qngq
      15+hc/Q7rDrAKD/bnW9k+5P+d2jBiVoJLsiMNls9i7mToQjULbu6b0tXO3DqcBAE
      dSrDyBzKIatp69TrEwnqy924XehYBW4j17koOllyoi3Uw1WkCTB6budZ3wYKuoqz
      YJtAH5D3u52G/VK0IiJnyqOJmr4vWQ8DZUthJ+GaSS9ex0Z/D1xjExoxOkX+vDCi
      AS9laEhj5NvAJ40EHTro/gHaHVYkIH0SZZDTlI9eB+YfF0RdTmQ=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIIDETCCAfkCAQAwgZoxCzAJBgNVBAYTAkFNMRgwFgYDVQQIDA9EYXZpdCBWYXJk
      YW55YW4xEDAOBgNVBAcMB1llcmV2YW4xEDAOBgNVBAoMB0VudG91cnMxFDASBgNV
      BAsMC0RldmVsb3BtZW50MRQwEgYDVQQDDAtlbnRvdXJzLmFwcDEhMB8GCSqGSIb3
      DQEJARYSamVkYXZhcmRAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
      MIIBCgKCAQEAv+aLyUT/F3Z+UnP/Vgjw1NEjSR66RZ9tv2dNvN8c0rCpHuJQWEmE
      4WdS422Z11UxNPmKXXMPx07obq4XTAipWKw15NuY+7ySIi233MAHutq6UkJLGeAp
      DbJ7uY9XuE45CDKaLMTjG7OedyyuujoVMn7RZujR9zBISZzx2JNrs78jY99u7CI1
      tboEzdcqHZk4vhg2rXN08595WZhzxesezyJxJxhEiWtmdsG0sNxnoN9vltumJIY1
      Do+qy9SYZdf3p1NZLoQV8X/zxMRqyjHVkklrnKKzlaCE28SmvAB755Y9961Fqz8s
      LA+RoPs4aHcmxadE8x41U6Vf4L7YzC3UOQIDAQABoDEwFgYJKoZIhvcNAQkCMQkM
      B0VudG91cnMwFwYJKoZIhvcNAQkHMQoMCHJ5MDFpZDUzMA0GCSqGSIb3DQEBCwUA
      A4IBAQCc5SA8Z0l9cDUO1VGKC18zc7IM3LSZHM1T3ugc1F4Fr4GWUYlXPpE8beLQ
      4Ku7/LmDfnjx1Wl4D+hN+ppcEtgHMLtXQflyg+DfxVbUZGGfq5xMk8MGq1G42eO7
      1YS6XIhvQn3hhBDjhYHsG1yurTFHrdfgT5v1VBqkTyWXdAgN6A5RuQtuPSqVDQwD
      xnT/+L1sB48kHMV9XAl+jg+2LQ65RU4M8YInPZdMtcZgbfdsRBNmz1x95l3mBt4x
      cC7ccjHzhGmGAT+zCBubVayCdNivDar+Xt8oCprkjKiI82cca6zEVfBAa1r//ris
      c2xzUk08Jvk+v8U9zXNThMd+ELuA
      -----END CERTIFICATE REQUEST-----